//styles

body {

	margin: auto;
}

h1 {

	font-size: 40px;
	text-align: center;
}

nav {
	background-color: #4532;
	width: 75%%;
	display: block;
	font-size: 30px;
}

ul li {

	display:inline-block;
}

li {
	margin: 15px;
}

.cat-name-list:hover{
	cursor: pointer;
	text-decoration: underline;
}


.cat-container {
	text-align: center;
}

figure {

	display: inline-block;
}

figcaption {
	font-size: 25px;

}


